@keyframes waveAnimation {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-200px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .animate-waving {
    animation: waveAnimation 8s ease-in-out infinite;
  }
  